/***************************************
****** Configurações do Sistema ********
***************************************/
.wSGI-load{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wSGI-load::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    background-image: url("../img/load.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100000;
}
.wSGI-load::after{
    content: "Aguarde...";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    margin-top: 50px;
    text-align: center;
    z-index: 100000;
    color: #ccc;
}

